**/.classpath
**/.project
**/.settings/
**/.settings/*.prefs
**/target/
**/bin/
**/.metadata/
.idea/
*.orig
*.info
*.iml
*.ipr
*.iws
logs/
target/
.classpath
.project
.settings/
.svn

pom.xml.versionsBackup

nb-configuration.xml
nbactions.xml
temp/
org.apache.openjpaNC.log
org.apache.openjpa.log
datanucleus.log
**/generated
**/history/dependencies.xml
**/plugins/
**/databases/
